<ion-header>
  <ion-toolbar>
    <ion-title>slidespage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Back button -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="uipage"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!-- Back button -->

  <!-- Slides-->
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
  <!-- Slides-->
  
</ion-content>