<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Sample
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" (click)="clickImage()">
    Camera
  </ion-button>

  <ion-button expand="block" routerLink="/nextpage" routerDirection="root">
    Navigation
  </ion-button>

  <ion-button expand="block" routerLink="/uipage" routerDirection="root">
    UI
  </ion-button>

  <ion-button color="warning" expand="block" (click)="notification()">
    Notification
  </ion-button>

  <ion-button color="danger" expand="block" (click)="notifyPush()">
    Notify Push
  </ion-button>

  <ion-button expand="block" (click)="videoStearm()">
    Video Stream
  </ion-button>
  <div class="media">
    <video controls></video>
  </div>

  <ion-button expand="block" (click)="audioStearm()">
    Audio Stream
  </ion-button>
  <div class="media">
    <audio controls></audio>
  </div>

</ion-content>